$spacing-x1: rem(4px);
$spacing-x2: rem(8px);
$spacing-x3: rem(12px);
$spacing-x4: rem(16px);
$spacing-x5: rem(20px);
$spacing-x6: rem(24px);
$spacing-x7: rem(28px);
$spacing-x8: rem(32px);
$spacing-x9: rem(36px);
$spacing-x10: rem(40px);
$spacing-x11: rem(44px);
$spacing-x12: rem(48px);
$spacing-x13: rem(52px);
$spacing-x14: rem(56px);
$spacing-x15: rem(60px);
$spacing-x16: rem(64px);
$spacing-x17: rem(68px);
$spacing-x18: rem(72px);
$spacing-x19: rem(76px);
$spacing-x20: rem(80px);
$spacing-x21: rem(84px);
$spacing-x22: rem(88px);
$spacing-x23: rem(92px);
$spacing-x24: rem(96px);
$spacing-x25: rem(100px);
$spacing-x26: rem(104px);
$spacing-x27: rem(108px);
$spacing-x28: rem(112px);
$spacing-x34: rem(136px);
$spacing-x40: rem(160px);
$spacing-x50: rem(200px);
$spacing-x53: rem(212px);

$grid-gutter-lg: rem(24px);
$grid-gutter-sm: rem(8px);

$grid-padding-lg: rem(60px);
$grid-padding-sm: rem(16px);

$header-height-desktop: rem(125px);
$country-selector-banner-offset-top: rem(24px);
$header-height-mobile: rem(96px);
$header-with-country-banner-shown-height-mobile: rem(177px);
